:root {
    --animation: terminal-bar;
}

body {
    background: rgba(10, 10, 10, 0.938);
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #fafafa;
    outline: none;
    width: 90%;
}

span {
    color:#fafafa;
    font-weight: bold;
    /* animation: blink 0.8s infinite; */
}

pre {
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
}

#terminal {
    padding: 20px;
}


#output div {
    margin-bottom: 5px;
    color: #00ff00;
    /* animation: typing 0.5s steps(30, end); */

}

#output div input {
    caret-shape: block;
}


@keyframes typing {
  from {
      width: 0;
  }
  50% {
      border-left-color: #000;
  }
}

@keyframes blink {
    to {
        opacity: 0
    }
}
